---

---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Astro Basics</title>

        <style>
            body {
                background-color: #202020;
            }

            h1 {
                color: pink;
            }

            footer {
                position: absolute;
                bottom: 4dvmin;
                margin: 1dvmin;
            }

            a,
            a:visited {
                color: #0071d1; /*カラーコードは任意*/
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Mai {2 ** 2}</h1>
        </header>

        <div id="heart"></div>

        <footer>
            <div>
                <a class="twitter" href="https://x.com/4831338_">X (Twitter)</a>
            </div>

            <div>
                <a
                    class="instagram"
                    href="https://www.instagram.com/42251935maimai?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                >
                    Instagram <i>42251935maimai</i>
                </a>
            </div>

            <div>
                <a
                    class="instagram"
                    href="https://www.instagram.com/boc_mai1024?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                >
                    Instagram <i>boc_mai1024</i>
                </a>
            </div>
        </footer>

        <script>
            const heart = document.getElementById("heart");

            const e = Math.E;
            for (let x = -e; x <= e; x += 0.0001) {
                const y =
                    Math.sin(e ** 11 * x) * Math.sqrt((e ** 2 - x ** 2) / 2) +
                    1.1 * Math.log1p(1.2 * Math.abs(x));

                const div = document.createElement("div");
                div.setAttribute("class", "dot");

                div.style.width = '0.1dvmin';
                div.style.height = '0.1dvmin';
                div.style.backgroundColor = 'pink';
                div.style.position = 'absolute';
                div.style.left = `${50 + 16 * x}dvmin`;
                div.style.top = `${64 + -1 * (16 * y)}dvmin`;

                heart?.appendChild(div);
            }
        </script>
    </body>
</html>
